<div id="flash_messages">
  <% if flash[:notice].present? || flash[:alert].present? %>
    <div class="alert alert-success">
      <button class="close" data-dismiss="alert">×</button>
      <% message = flash[:notice].present? ? flash[:notice] : flash[:alert] %>
      <%= message %>
    </div>
  <% elsif flash[:error].present? %>
    <div class="alert alert-danger">
      <button class="close" data-dismiss="alert">×</button>
      <ul>
        <% flash[:error].each_with_index do |msg, index| %>
          <li><%= msg.html_safe %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
