#error_explanation {
  border: 1px solid rgb(212, 212, 212);
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

#error_explanation ul {
  padding: 0 15px;
}

td, th {
  text-align: center;
}

.nopadding {padding: 0;}

#flash_messages {
  padding-left: 20%;
  padding-right: 20%;
}

#flash_messages div {
  padding: 8px;
}

button.close {
  margin-top: -3px;
}
